{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{% block content %}
    <h2 class="my-4">{% translate 'Players' %}</h2>
    <br>
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th style="width:25%">ID</th>
                <th style="width:25%">{% translate 'Name' %}</th>
                <th style="width:25%">Status</th>
                <th style="width:25%">Сhanges</th>
            </tr>
        </thead>

        <tbody>
            {% if users %}
                {% for user in users %}
                    {% if user.team_id is not NULL %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.team.name }}</td>
                        <td>
                            <a class="btn btn-danger btn-sm" href="{% url 'exit_team' user.pk %}" role="button">{% translate 'Exit match' %}</a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}
